*{
    margin: 0px;
    padding: 0px;
    font-family:"poppins",sans-serif;
    box-sizing: border-box;
}

#top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/IN-en-20230918-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.basic_class{
    background-color: black;
    color: white;
    padding: 0px 150px 0px 150px;
}

.basic_class_1{
    padding: 20px;
    display: flex;
}

.language{
    text-align: center;
    margin-left: 780px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid white;
    width: 120px;
    height: 30px;
    color: white;
    background-color: rgb(24, 23, 23);
    border-radius: 3px;
}

#sign{
    width: 77px;
    height: 30px;
    font-weight: bold;
    margin-left: 20px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: red;
}

.basic_class_2{
    color: white;
    text-align: center;
}

.basic_class_2 h1{
    margin-top: 180px;
    font-weight:900;
    font-size: 43px;
}

.bc_2_text1{
    margin-top: 17px;
    font-size: 24px;
}

.upper_form{
    display:inline-flex;
    margin-top: 10px;
    align-items: center;
    padding: 17px 0px 70px 0px;
}

#upper_form_margin{
    margin-bottom: 60px;
}
#upper_form_1{
    margin: 5px;
    padding-left: 20px;
    border: 1px solid white;
    width: 354px;
    height: 55px;
    font-size: 15px;
    background-color:transparent;
    color: white;
    border-radius: 2px;
}
#upper_form_2{
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: red;
    width: 204px;
    height: 56px;
}

hr{
    border: none;
    background-color: rgb(44, 44, 44);
    height: 7px;
}

#sections{
    padding: 100px 0px 100px 0px;
}

.sections_div{
    width: 700px;
}
.sections_div h1{
    padding-top: 70px;
    margin: 20px 0px 20px 0px;
    font-size: 48px;
    font-weight:900;
}

.sections_div p{
    margin: 20px 0px 20px 0px;
    font-size: 24px;
}

#lower_h1{
    margin-top: 0px;
    padding: 70px 0px 15px 0px;
}

.button_lower{
    align-items: center;
    display: flex;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(63, 63, 63);
    width: 1170px;
    height: 80px;
    margin: 10px;
}

.button_div{
    margin-left: 25px;
    text-align: left;
    width: 92%;
    font-size: 24px;
    font-weight: bold;
}

#lower_p{
    margin: 40px 0px 20px 0px;
}

footer{
    font-size: 15px;
    padding: 60px 0px 60px 0px;
    color: #f0efefb3;
}

#footer_div_1{
    display: inline-flex;
}

#language_id{
    margin: 0px;
}

.footer_div{
    width: 300px;
}
.footer_ul{
    font-weight: lighter;
    text-decoration: underline;
    list-style: none;
}

.footer_ul li{
    margin-top:20px;
}

.others{
    margin-top: 20px;
}